@import "./Variables";

@mixin buttonEssentials($backgroundColor, $textColor) {
  background-color: $backgroundColor;
  border-radius: $standardBorderRadius;
  border: none;
  color: $textColor;
  cursor: pointer;
  font-size: 22px;
  padding: 20px;
  text-align: center;
  transition: all 0.4s;
}
