// Modal styling

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.ReactModal__Content--after-open {
  background-color: rgb(255, 255, 255) !important;
  border-radius: 5px;
  bottom: 0;
  top: 25% !important;
  width: 35%;
  max-height: 525px;
  left: 32% !important;
  right: 0;
  position: absolute;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.main-body__modal {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: auto;

    input {
      border-radius: 5px;
      padding: 10px;
      width: 100%;
    }

    legend {
      background-color: $darkGreen;
      color: #fff;
      font-weight: 600;
      padding: 25px 0px;
    }
  }

  &__buttons {
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      font-weight: 600;
      height: 50px;
      width: 50%;
    }

    &--close {
      background: #fff;
    }

    &--submit {
      background: $lightGreen;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;
    fieldset {
      background-color: #fff;
      // padding-bottom: 35px;
      height: 100%;
    }
  }
}

.main-body__modal__input {
  margin: 10px auto;
  text-align: left;
  width: 80%;

  :after {
    content: " *";
    color: red;
  }
}

// Success modal

.success-modal__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  margin: auto;
  text-align: center;
  width: 80%;

  button {
    @include buttonEssentials($naturalYellow, $charcoal);
    font-weight: 600;
  }
}

// Viewport change styling

@media only screen and (max-width: $breakpointTablet) {
  .ReactModal__Content--after-open {
    top: 15% !important;
    width: 80%;
    height: 70%;
    left: 10% !important;
  }
}
