$charcoal: #5a5a5a;

$navyBlue: #003366;

$cactusGreen: #4d774e;

$darkGreen: #164a41;

$lightGreen: #9dc88d;

$naturalYellow: #f1b24a;

$creamWhite: #faf0e6;

$standardBorderRadius: 1rem;

$headingFont: "Roboto", sans-serif;

$transition: 0.2s;
