// Viewport
$breakpointMobile: 600px;
$breakpointTablet: 1024px;

// Colors
$cactusGreen: #4d774e;

$charcoal: #5a5a5a;

$creamWhite: #faf0e6;

$darkGreen: #164a41;

$lightGreen: #9dc88d;

$naturalYellow: #f1b24a;

// Buttons

// Card styling
$standardBorderRadius: 1rem;
$transition: 0.2s;

// Headings
$headingFont: "Roboto", sans-serif;
