@import "../styles/Variables";
@import "../styles/Functions";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  display: block;
  font-size: 21px !important;
  min-height: 100vh; /* will cover the 100% of viewport */
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $creamWhite;
  font-family: "Montserrat", sans-serif !important;
}

.page-container {
  min-height: 100vh;
  position: relative;

  &__content-wrap {
    padding-bottom: 3.5rem; /* Footer height */
  }
}

a {
  text-decoration: none !important;
}
